body {
    text-align: left;
}
.globalheaderNav {
    text-align: center;
    border: groove;
    font-size: 60px;
}
.headerNav {
    text-align: left;
    margin-left: 5px;
    font-size: 20px;
    border-bottom: solid;
}
.headerLinkContainingDiv{
    text-align:right;
}
.headerLink{
    margin-left:20px;
    margin-right:20px;
    max-width:400px;
}